<html>

<head>
    <title>Glaucoma Detection Frontend</title>
    <link rel = "stylesheet" href = 'static/stylesheet.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <p>
    <h1 style="text-align: center;" >Welcome to Glaucoma Detector</h1>
    </p>
    <div class="container">
        <div class="row">
            <h2>Select a file to upload</h2>
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            </p>
            {% if filename %}
            <div>
                <img src="{{ url_for('display_image', filename=filename) }}">
            </div>
            {% endif %}
            <form method="post" action="/" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input type="file" name="file" class="button" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit" class="button">
                </p>
            </form>

            <ul>
                <li>
                    <a href="{{url_for('desc')}}">
                        About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>