<html>
    <head>
        <title>Glaucoma Detection Frontend</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="/static/stylesheet.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <div class="stage">
            <h1 id="title">Glaucoma Detector</h1>
            <div class="container">
                <div>
                    <h1>Upload Retinal Scan</h1>
                    {% with messages = get_flashed_messages() %} {% if messages
                    %} {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %} {% endif %} {% endwith %} {% if filename %}

                    <div>
                        <img
                            src="{{ url_for('display_image', filename=filename) }}"
                        />
                    </div>
                    <div>
                        <p>{{ glaucoma_status }}</p>
                    </div>
                    {% endif %} {% if glaucoma_status %}
                </div>
                {% endif %}
                <form method="post" action="/" enctype="multipart/form-data">
                    <label for="file-upload">
                        <input
                            id="file-upload"
                            type="file"
                            name="file"
                            class="button"
                            autocomplete="off"
                            required
                        />
                    </label>

                    <input type="submit" value="Submit" class="button" />
                </form>
            </div>
        </div>
    </body>
</html>
